@import "@unocss/reset/tailwind";

@unocss preflights;
@unocss default;
@unocss;

[data-theme="dark"] {
  --ifm-color-primary: #ffffff;
  --ifm-color-primary-dark: #ffffff;
  --ifm-color-primary-darker: #ffffff;
  --ifm-color-primary-darkest: #ffffff;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
}

[data-theme="dark"] .DocSearch {
  --docsearch-container-background: rgba(0, 0, 0, 0.7);
  --docsearch-modal-background: var(--ifm-background-color);
  --docsearch-searchbox-background: var(--ifm-color-black);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);

  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

@layer base {
  svg {
    @apply inline-block;
  }

  button {
    @apply bg-transparent cursor-pointer hover:outline-none focus:outline-none;
  }

  button:hover {
    @apply opacity-75;
  }

  .btn {
    @apply flex items-center justify-center cursor-pointer;
  }

  .btn-primary {
    @apply bg-white! text-black!;
  }

  .btn-secondary {
    @apply bg-transparent border! border-white/50! text-white!;
  }

  button {
    border: 0;
    outline: 0;
  }

  a {
    @apply decoration-none! flex items-center;
  }

  pre {
    @apply text-sm!;
  }
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-ExtraLight.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../static/fonts/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
