@import "@unocss/reset/tailwind";

@unocss preflights;
@unocss default;
@unocss;

[data-theme="dark"] {
  --ifm-color-primary: #8b5cf6;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #4c1d95;
  --ifm-color-primary-darkest: #3b0764;
  --ifm-color-primary-light: #a78bfa;
  --ifm-color-primary-lighter: #c4b5fd;
  --ifm-color-primary-lightest: #ddd6fe;
}

@layer base {
  svg {
    display: inline;
  }

  .btn {
    @apply flex items-center justify-center cursor-pointer;
  }

  .btn:hover {
    @apply opacity-75;
  }

  .btn-primary {
    @apply bg-white! text-black!;
  }

  .btn-secondary {
    @apply bg-transparent border! border-white/50! text-white!;
  }

  button {
    border: 0;
    outline: 0;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-ExtraLight.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("../../static/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../static/fonts/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

a {
  text-decoration: none !important;
}
